AccentColor {
    background-color: #931621;
}

FirstColor {
    background-color: #2c8c99;
}

SecondColor {
    background-color: #42d9c8;
}

ThirdColor {
    background-color: #326771;
}

TextColorOne {
    background-color: #28464b;
}

TextColorTwo {
    background-color: azure;
}